<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Dish</title>
    <link rel="stylesheet" href="/styles/dish.css">
</head>
<body>
    <h1>Add Dish</h1>
    <form action="/dishes/admin/add" method="POST">
        <input type="text" name="names[en]" placeholder="English Name" required>
        <input type="text" name="names[ru]" placeholder="Russian Name" required>
        <textarea name="descriptions[en]" placeholder="English Description" required></textarea>
        <textarea name="descriptions[ru]" placeholder="Russian Description" required></textarea>
        <input type="text" name="images" placeholder="Image URL 1">
        <input type="text" name="images" placeholder="Image URL 2">
        <input type="text" name="images" placeholder="Image URL 3">
        <input type="number" name="stars" min="1" max="5" required>
        <button type="submit">Add Dish</button>
    </form>
</body>
</html>